h1 {
  text-align: center;
}

h2 {
  text-align: center;
  font-weight: bolder;
  text-decoration: underline;
  color: white;
}

h3 {
  text-align: center;
  font-weight: bold;
  text-decoration: underline;

}

h4 {
  text-align:center;

}

.header {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  height: 150px;
  padding: 10px;
  outline-color: black;
  outline-style: double;
  outline-width: 5px;
}

.stellaLeft {
  float: left;
  width: 200px;
  height: 200px;
  content: "";
  clear: both;
  display: table;
}

.stellaRight {
  float: right;
  width: 200px;
  height: 200px;

}
